li {
  list-style: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
:root {
  --white: #ffffff;
  --light-gray-1: #f4f5f5;
  --light-gray-2: #d5d8d7;
  --primary: #68ceb1;
  --dark-gray-1: #1f3731;
  --dark-gray-2: #52605c;
  --dark-gray-3: #788783;
  --dark-gray-4: #e2e4e3;
}

.halloween {
  --primary: #DF4E26;
  --gradient: linear-gradient(102.56deg, #9E4128 6.25%, #DF4E26 105.21%);
}